<div id="container" style="display: flex; justify-content: space-around">
  <h1>BIBLIOTEKA NARODOWA W TARNOWIE</h1>
  <nav>
    <a  [routerLink]= "['']"><button class="button"> Strona główna </button> </a>
    <a  [routerLink]= "['/authors']"><button class="button"> Autorzy </button> </a>
    <a  [routerLink]= "['/books']"><button class="button"> Książki </button> </a>
    <a  [routerLink]= "['/reservations']"><button class="button"> Rezerwacje </button> </a>
    <a  [routerLink]= "['/loan']"><button class="button"> Wypożyczenia </button> </a>
    <a  [routerLink]= "['/readers']"><button class="button"> Czytelnicy </button> </a>
    <a  [routerLink]= "['/copy']"><button class="button"> Egzemplarze </button> </a>
  </nav>

</div>
