/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
  background: url("assets/background/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: center;
}

#footer {
  position:absolute;
  bottom:0;
  width:70%;
  height:5%;		/* Wysokość stopki */
  background: #079aeb ;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
li{
  display: inline;
}
a{
  margin-right: 100px;
}
.scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;

}
.correct{
  background-color: green;
}
.incorrect{
  background-color: red;
}
